.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.players {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.select {
  padding: 4px 16px;
  border: 0;
  background-color: rgba(0,0,0,0.2)
}

.select:hover {
  cursor: pointer;
}

.btn {
  height: 48px;
  line-height: 32px;
  padding: 8px 16px;
  border: 1px solid rgb(131, 131, 207);
  border-radius: 8px;
  background-color: rgb(75, 75, 180);
  box-shadow: none;
  color: white;
  font-size: 20px;
}

.btn:last-child {
  margin-left: 25px;
}

.btn:disabled {
  background-color: rgba(0,0,0,0.2)
}

.btn:hover {
  cursor: pointer;
}