.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

.player .image {
  width: 100%;
  text-align: center;
}

.player .image img {
  width: 40%;
} 